.dashboard__hero {
  text-align: center;
  padding: 90px 90px 45px 90px;
  background: linear-gradient(141deg, #cb2d3e 0%, #ef473a 100%);

  h2 {
    color: white;
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.dashboard__list {
  padding: 30px 90px;

  ul {
    list-style: none;
    margin: 20px 0px;
    border: 1px solid #dadada;
  }
}
