* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Lucida Console", Monaco, monospace;
}

header {
  position: absolute;
  display: flex;
  align-items: center;
  height: 45px;
  width: 100%;
  padding: 5px 25px;
  color: white;
  box-sizing: border-box;

  h1 {
    flex: 1;
    margin-left: 10px;
    font-size: 22px;
  }
}
