.no-padding {
    padding: 0px;
}

.inherit-padding {
    padding: inherit;
}

.no-left-border {
    border-left: 0px;
}

.full-width {
    width: 100%;
}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}
